<div class="experiences">
    <% @experiences.each do |e| %>
      <div class="company"><%= e.company %></div>
      <div class="dates"><%= e.start_date %> -  <%= e.end_date %></div>
      <div class="title"><%= e.title %></div>
      <%= render partial: "details/show", locals: {experience: @e} %>
    <% end %>
  </div>
</div>